
@font-face {
  font-family: 'Cuprum-Regular';
  src: url('Cuprum-Regular.eot?#iefix') format('embedded-opentype'),  url('Cuprum-Regular.woff') format('woff'), url('Cuprum-Regular.ttf')  format('truetype'), url('Cuprum-Regular.svg#Cuprum-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
